body{
	font-family: sans-serif;
	background: url('../img/brickBG.jpg');
}


.main {
	display: flex;
	flex-flow: row wrap;
}

nav {
	border-bottom: 2px solid rgba(163, 53, 55, 1.0);
	background: rgba(255, 65, 100, 1);
	height: 45px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	box-shadow: 0px 3px 8px rgba(0,0,0,.8);
}

#gradientOverlay {
	height: 100%;
	width: 100%;
	position: absolute;
	background: linear-gradient(to bottom, rgba(255,255,255,.8) 0%,rgba(241,241,241,.3) 50%,rgba(225,225,225,.3) 51%,rgba(246,246,246,.8) 100%);
}

.navItems {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding-left: 0;
	position: relative;
	bottom: 3px;
	right: 30px;
}

.navItems li {
	list-style: none;
}

.navItems li a {
	text-decoration: none;
	font-size: 1.2em;
	color: rgba(0, 0, 0, 1.0);
	position: absolute;
}

.navItems li a:hover {
	font-weight: 600;
}

.bodyWrap {
	width: 100%;
	/*margin-top: 5%;*/
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	position: relative;
	top: 60px;
}

.mainBody {
	background:  rgba(254, 109, 100, 1.0);
	border: 2px solid rgba(163, 53, 55, 1.0);
	width: 70%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	margin-left: 26%;
}

.mainBody p {
	display: inline-block;
	line-height: .4;
}

p.strong {
	display: block;
	font-weight: 900;
	font-size: 1.3em;
	color: rgba(120, 86, 22, 1.0);
}

#moreSongs {
	width: 10%;
	position: absolute;
	top: 20px;
	left: 500px;
}

.controls {
	background: rgba(77, 215, 250, 1.0);
	border: 2px solid rgba(163, 53, 55, 1.0);
	width: 20%;
	margin-left: 2%;	
	position: fixed;
	top: 68px;
}

.controls label {
	display: block;
	margin: 10px 0;
	padding: 5px;
	margin-left: 5px;
}

.controls select {
	border: 2px solid rgba(163, 53, 55, 1.0);
	display: block;
	width: 85%;
}

.checkGroup {
	display: flex;
	justify-content: center;
}

.controls button {
	border: 2px solid rgba(163, 53, 55, 1.0);
	border-radius: 5px;
	display: block;
	text-align: center;
	margin: auto;	
	width: 50%;
	height: 25px;
	font-size: .9em;
	margin-top: 10%;
	margin-bottom: 5%;
}

label[for=genre] {
	margin-bottom: 0;
	padding-bottom: 0;
}

label[for=songlength] > input {
	display: block;
	width: 85%;
}

.songSection {
	background: rgba(245, 255, 250, 1.0);
}

.songSection:nth-of-type(2n+1) {
	background: rgba(255, 245, 238, 1.0);
}

.songSection p {
	margin-left: 2%;
}

.addView {
	width: 30%;
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
	border: 2px solid rgba(163, 53, 55, 1.0);
	background: rgba(77, 215, 250, 1.0);
	margin: 0 auto;
}

.addView input {
	display: block;
	width: 60%;
	margin: 5% auto;
	border: none;
	height: 25px;
	background: rgba(227, 227, 227, 1.0);
}

.addView button {
  border: 2px solid rgba(163, 53, 55, 1.0);
	border-radius: 5px;
	display: block;
	margin: 5% auto;
	width: 40%;
	height: 25px;
	font-size: .9em;
}

.hidden {
	display: none;
}
