html {
	margin: 10px;
	padding: 10px;
}

.main {
	height: 660px;
	width:  960px;
	background: lightgrey;
	padding: 25px;
}

nav {
	border: 2px solid black;
	background: #FFB4B0;
	height: 53px;
	width: 96%;
	margin: 5px;
}

.navItems li {
	list-style: none;
	float: left;
	padding: 5px;
}

.mainBody {
	display: inline-block;
	background:  #FEFAC0;
	border: 2px solid black;
	width: 70%;
	height: 372px;
	margin: 5px;
}

.mainBody p {
	display: inline-block;
	line-height: .4;
}

.mainBody section {
	margin-left: 25px;
}

p.strong {
	display: block;
	font-weight: 900;
	font-size: 1.3em;
	color: #785616;
}

.controls {
	margin: 5px;
	display: inline-block;
	float: left;
	background: #4DD7FA;
	border: 2px solid black;
	height: 372px;
	width: 25%	

}

.controls label {
	display: block;
	margin: 10px 0;
	padding: 5px;
	margin-left: 5px;
}

.controls select {
	display: block;
	width: 125px;
}

.selectGroup {
	margin: 0 20px;
}

.check1 {
	display: inline-block;
	width: 47.5%;
}

.check2 {
	display: inline-block;
	width: 47.5%;
}

.checkGroup {
	margin: 0 20px;
}

.controls button {
	display: block;
	text-align: center;
	margin: auto;	
	width: 90px;
	font-size: 1.2em;
}

label[for=genre] {
	margin-bottom: 0;
	padding-bottom: 0;
}

label[for=songlength] {
	margin: 5px 0 5px 25px;
}
